
# ignore RStudio settings
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# ignore vscode settings
.vscode/

# ignore macOS system files
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store

*/.Rhistory
*/*/.Rhistory
*/*/*/.Rhistory
*/*/*/*/.Rhistory